@use '../../../app/variables.scss' as *;

.resume-item {
    position: relative;
    padding-inline-start: 48px;
    &__header {
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        flex-wrap: wrap;
        color: $text;
    }
    &__company {
        font-weight: 600;
        color: $text;
    }
    &__timespan {
        color: $text;
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
    }
    &__achievements {
        color: $text;
        margin-top: 8px;
        padding-left: 32px;
    }
    &__achievements-item {
        color: $text;
    }
    &__skills {
        margin-top: 8px;
        color: $text;
        font-style: italic;
        font-weight: 200;
    }
    &::before {
        position: absolute;
        left: 8px;
        top: 5px;
        content: "";
        width: 20px;
        height: 20px;
        border: 5px solid $background-secondary;
        border-radius: 100%;
        background-color: $accent;
        box-sizing: border-box;
        z-index: 2;
    }
    &:not(:only-child) {
        &::after {
            position: absolute;
            left: 16px;
            top: 32px;
            content: "";
            width: 4px;
            height: 100%;
            background-color: $background-secondary;
            box-sizing: border-box;
            border-radius: 2px;
        }
        &:last-child {
            &::after {
                height: 50%;
            }
        }
    }
    &:not(:first-child) {
        margin-top: 32px;
    }
}