@use '../../app/variables.scss' as *;

.input {
    border: 1px solid $border;
    border-radius: 12px;
    padding: 16px 20px;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.21s ease-in-out;
    background-color: $background-light;
    &::placeholder {
        color: $text;
    }
    &:focus {
        border-color: $accent;
        outline: 0;
        background-color:$background-secondary;

    }
}