@use '../../app/variables.scss' as *;

.input {
    border: 1px solid $border;
    border-radius: 6px;
    padding: 12px 16px;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.21s ease-in-out;
    &::placeholder {
        color: $text;
    }
    &:focus {
        border-color: $accent;
        outline: 0;
    }
}