@use '../../../app/variables.scss' as *;

.resources {
    &__title {
        font-size: 28px;
        text-align: center;
    }
    &__content {
        margin-top: 42px;
        
    }
    &__item {
        display: block;
        width: 100%;
        padding: 16px;
        background-color: $background;
        border: 1px solid $border;
        border-radius: 8px;
        height: fit-content;
        &-title {
            font-size: 20px;
            color: $accent;
        }
        &-description {
            margin-top: 8px;
            font-size: 14px;
            color: $detail;
        }
        &_blurred {
            filter: blur(12px);
            opacity: 0.8;
            pointer-events: none;
        }
    }

}