$background: #151515;
$background-light: #2C2C2C;
$background-secondary: #301B3F;
$detail: #B4A5A5;
$text: #E0E0E0;
$text-light: #FFFFFF;
$accent: #8A2BE2;
$accent-secondary: #5D1E8C;
$border: #444444;